xml/xml project/spnd.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

 <xs:element name="expenses">
	  <xs:complexType>
	    <xs:sequence>
	      <xs:element name="date" type="xs:date"/>
	      <xs:element name="amount" type="xs:int"/>
	      <xs:element name="categoryname" type="xs:string"/>
	      <xs:element name="description" type="xs:string"/>
	    </xs:sequence>
	  </xs:complexType>
	</xs:element>
</xs:schema>