xml/xml assignment/address.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

 <xs:element name="address">
	  <xs:complexType>
	    <xs:sequence>
	      <xs:element name="doorno" type="xs:int"/>
	      <xs:element name="street" type="xs:string"/>
	      <xs:element name="state" type="xs:string"/>
	      <xs:element name="pin" type="xs:int"/>
		</xs:sequence>
	  </xs:complexType>
	</xs:element>
</xs:schema>