xml/xml assignment/employee.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

 <xs:element name="employee">
	  <xs:complexType>
	    <xs:sequence>
	      <xs:element name="employeeno" type="xs:int"/>
	      <xs:element name="name" type="xs:string"/>
	      <xs:element name="department" type="xs:string"/>
	      <xs:element name="telephone" type="xs:int"/>
	      <xs:element name="email" type="xs:string"/>
	    </xs:sequence>
	  </xs:complexType>
	</xs:element>
</xs:schema>