xml/xml assignment/student.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

 <xs:element name="student">
	  <xs:complexType>
	    <xs:sequence>
	      <xs:element name="firstname" type="xs:string"/>
	      <xs:element name="name" type="xs:string"/>
	      <xs:element name="redno" type="xs:string"/>
	      <xs:element name="branch" type="xs:string"/>
	      <xs:element name="doorno" type="xs:int"/>
	      <xs:element name="street" type="xs:string"/>
	      <xs:element name="city" type="xs:string"/>
	      <xs:element name="phone" type="xs:int"/>
	    </xs:sequence>
	  </xs:complexType>
	</xs:element>
</xs:schema>